.shoe {
  max-width: 1440px;
  margin: auto;
  padding: 14px;
}

.shoe-container {
  display: flex;
  /* border: 2px solid #5b525f; */
  gap: 14px;
}

.shoe-right {
  flex: 2;
  width: 100%;
  padding: 14px;
  background: white;
  /* border-left: 2px solid #5b525f; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shoe-left {
  flex: 3;
  height: 465px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoe-left-picture {
  max-width: 100%;
  max-height: 100%;
}
.s-r-desc {
  display: flex;
  justify-content: space-between;
  padding-bottom: 28px;
  border-bottom: 1px solid grey;
}

.s-r-d-l-brand {
  font-size: 14px;
  font-weight: 400;
}
.s-r-d-l-b-name:hover {
  border-bottom: 1px solid black;
  font-weight: 500;
}
.s-r-d-l-b-logo {
  height: 18px;
}
.s-r-d-l-name {
  font-weight: 500;
  margin: 14px 0;
  /* height: 23px; */
  width: 300px;
}
.s-r-d-l-name-edit {
  font-weight: 500;
  margin: 14px 0;
  height: 23px;
  width: 300px;
  font-weight: 500;
  border: 1px solid black;
  font-size: 14px;
}

.s-r-d-l-reviews {
  font-size: 14px;
  font-weight: 400;
}
.s-r-size {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  row-gap: 14px;
  column-gap: 14px;
  padding-bottom: 28px;
  border-bottom: 1px solid grey;
}

.s-r-s-radio-input {
  display: none;
}
/* .s-r-s-radio-input:checked + .s-r-s-radio-label {
  background-color: #5b525f;
  color: white;
} */

.s-r-s-radio-label-edit {
  background-color: #5b525f;
  color: white;
}

.s-r-s-radio-label {
  padding: 8px;
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
}
.s-r-s-button {
  width: 70%;
  height: 36px;
  font-weight: 500;
  background: none;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

.s-r-s-button:hover {
  background: #5b525f;
  color: white;
}
.s-r-form {
  text-align: center;
  padding-bottom: 28px;
}

.shoe-bottom {
  display: flex;
  width: 70%;
  margin: auto;
}

.shoe-reviews {
  flex: 3;
  background: white;
  width: 100%;
  /* border: solid 2px #5b525f; */
  background-color: #efeeef;
  gap: 14px;
}
.shoeReview {
  padding: 14px;
  display: flex;
  /* border-bottom: solid 2px rgba(91, 82, 95, 0.1); */
  justify-content: space-between;
  /* background: #f0ece4; */
}
.shoeReview:last-child {
  border: none;
}
.sr-right {
  width: 85%;
}
.sr-r-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sr-r-bottom {
  font-weight: 500;
  font-size: 18px;
}

.related-shoe {
  flex: 2;
}
.s-r-d-left {
  display: flex;
  flex-direction: column;
}
.s-r-d-right {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#s-r-d-l-brand {
  height: 22px;
  width: 30%;
  font-weight: 500;
  background: none;
  border: 1px solid black;

  font-size: 14px;
}

.s-r-d-l-name {
  /* height: 23px; */
  width: 300px;
}
.s-r-d-l-name-edit {
  font-weight: 500;
  margin: 14px 0;
  height: 23px;
  width: 300px;
  font-weight: 500;
  border: 1px solid black;
  font-size: 14px;
}

.s-r-d-r-price {
  text-align: center;
}

.s-r-d-right > button {
  background: none;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
}
.s-r-d-right > button:hover {
  background: #5b525f;
  color: white;
}

.s-b-addReview {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 14px;
  /* background: #f0ece4; */
}

#s-b-ar-stars {
  height: 22px;
  width: 20%;
  font-weight: 500;
  background: none;
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  background: white;
}

.s-b-ar-review {
  font-weight: 500;
  margin: 14px 0;
  padding-bottom: 23px;
  padding: 0 14px;
  font-weight: 500;
  border: none;
  font-size: 14px;
  resize: none;
  background: #efeeef;
}

.s-b-ar-button {
  width: 20%;
  /* height: 36px; */
  font-weight: 500;
  background: none;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  align-self: flex-end;
  background: white;
}

.s-b-ar-button:hover {
  background: #5b525f;
  color: white;
}

.sr-r-b-edit > button {
  background: none;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  margin-right: 8px;
  background: white;
}
.sr-r-b-edit > button:hover {
  background: #5b525f;
  color: white;
}

.sr-r-b-desc {
  margin: 14px 0;
}
.s-r-stars {
  width: 100%;
  /* text-align: end; */
  border-bottom: solid 2px rgba(91, 82, 95, 0.1);
}

#s-r-s-stars {
  /* height: 22px; */
  width: 20%;
  font-weight: 500;
  background: none;
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  /* margin: 14px; */
  background: white;
}
.s-r-f-errors {
  margin-bottom: 14px;
}
.s-r-f-success {
  color: green;
}
.option-error {
  color: red;
  border: 1px solid red;
  background: lightgrey;
}

.review-separator {
  border-bottom: 3px solid;
  position: relative;
  margin: 56px auto;
  /* border: 1px solid red; */
  height: 30px;
  display: flex;
  justify-content: center;
  max-width: 1440px;
}
.review-separator > h1 {
  /* width: 300px; */
  position: absolute;
  bottom: -56px;
  text-align: center;
  font-family: "Inspiration", cursive;
  font-size: 100px;
  background: white;
  padding: 0 28px;
}

.write-review-div {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.write-review {
  font-weight: 500;
  background: none;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  align-self: flex-end;
}

.write-review:hover {
  background: #5b525f;
  color: white;
}
