.cart {
  width: 1100px;

  margin: auto;
  display: flex;
  gap: 14px;
}
.cart-left {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.cart-right {
  flex: 2;
  height: 100px;
  width: 100px;
  background: blue;
  background-color: white;
}

.cart-l-shipping {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  margin-bottom: 14px;
}

.c-l-s-title {
  font-weight: 500;
  font-size: 28px;
  align-self: flex-start;
  margin: 36px 28px;
}

.c-l-s-name,
.c-l-s-country,
.c-l-s-address,
.c-l-s-app,
.c-l-s-city,
.c-l-s-state,
.c-l-s-code,
.c-l-s-number {
  text-align: center;
  height: 36px;
  width: 70%;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  font-size: 18px;
}
.c-l-s-name:focus,
.c-l-s-country:focus,
.c-l-s-address:focus,
.c-l-s-app:focus,
.c-l-s-city:focus,
.c-l-s-state:focus,
.c-l-s-code:focus,
.c-l-s-number:focus {
  outline: none;
  background-color: #efeeef;
}
.c-l-s-state,
.c-l-s-code {
  width: 100%;
}
.c-l-s-name-label {
  align-self: flex-start;
  margin: 0 15%;
}
.c-l-s-stateZip {
  display: flex;
  width: 70%;
  gap: 14px;
}
.c-l-s-sz-left,
.c-l-s-sz-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.c-l-s-button {
  width: 70%;
  height: 36px;
  background: none;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 36px;
}
.c-l-s-button:hover {
  background-color: #5b525f;
  color: white;
}

.cart-l-payment {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  margin-bottom: 14px;
}
.c-l-c-top {
  display: flex;
  justify-content: space-between;
}

.c-l-c-b-number {
  width: 50%;
  height: 36px;
  border: none;
  background-color: #efeeef;
}
.c-l-c-b-cvc,
.c-l-c-b-date {
  width: calc((100% / 2) / 2);
  height: 36px;
  border: none;
  background-color: #efeeef;
}
.c-l-c-top {
  padding-bottom: 14px;
}
.c-l-c-l-label {
  margin: 0 14px;
}

.c-l-credit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-l-card,
.c-l-credit {
  border: 1px solid #efeeef;
  padding: 14px;
  margin-bottom: 14px;
  width: 80%;
}
.c-l-c-left,
.c-l-cc-left {
  display: flex;
  align-items: center;
}

.c-l-cc-r-button {
  width: 80%;
  height: 36px;
  background: none;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 36px;
}
.c-l-cc-r-button:hover {
  background-color: #5b525f;
  color: white;
}

input[type="radio"] {
  border: 0px;

  height: 24px;
  width: 24px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
