.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5b525f;
}

.navigation-left,
.navigation-center,
.navigation-right {
  flex: 1;
}

.navigation-center {
  text-align: center;
}
.navigation-left > a {
  margin-left: 20px;
}
.navigation-right > button,
.navigation-right > div {
  margin-right: 20px;
}
.navigation-center > a {
  margin: 0 20px;
  color: white;
  text-decoration: none;
}
.navigation-center > a:hover {
  border-bottom: 1px solid white;
}

.navigation-right {
  text-align: end;
  position: relative;
}
.n-r-link {
  background: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
}
.n-r-button {
  background: none;
  border: 1px #5b525f solid;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.n-r-button:hover {
  border: 1px white solid;
}
.profile-dropdown {
  position: absolute;
  width: 150px;
  right: 0;
  top: 36px;
  border: 1px #5b525f solid;
}
.n-r-b-button {
  width: 100%;
  height: 36px;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: start;
}
.n-r-b-button:hover {
  background-color: #efeeef;
}

.hidden {
  display: none;
}
