.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5b525f;
}
.navigation-test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid rgba(91, 82, 95, 0.3);
  width: 100%;
  z-index: 1000;
}

.navigation-left,
.navigation-center,
.navigation-right {
  flex: 1;
}

.navigation-center {
  text-align: center;
}
.navigation-left > a {
  margin-left: 20px;
}

.navigation-center > a {
  margin: 0 20px;
  color: white;
  text-decoration: none;
}
.navigation-center > a:hover {
  border-bottom: 1px solid white;
}

.navigation-right {
  text-align: end;
  position: relative;
}
.n-r-link {
  background: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
  border: none;
}
.n-r-button {
  background: none;
  border: 1px rgba(91, 82, 95, 0) solid;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
}
.n-r-button:hover {
  border: 1px white solid;
}
.profile-dropdown {
  position: absolute;
  width: 150px;
  right: 0;
  top: 36px;
  border: 1px #5b525f solid;
  z-index: 1;
}
.n-r-b-button {
  width: 100%;
  height: 36px;
  background: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: start;
}
.n-r-b-button:hover {
  background-color: #efeeef;
}

.hidden {
  display: none;
}

.yourCart {
  width: 480px;

  /* padding: 14px; */
  background: white;
  /* position: fixed; */
}
.yourCartModal {
  height: 100vh;
  position: fixed;
}
.yc-top {
  height: 80%;
  overflow-y: scroll;
  padding: 14px;
}
.yc-top-checkout {
  height: 300px;
  overflow-y: scroll;
  padding: 14px;
}
.yc-title {
  margin-top: 48px;
  margin-bottom: 24px;
  text-align: start;
  font-weight: 500;
}

.yourCart-background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.yourCart-background > div {
  right: 0;
}
.yc-cartItem {
  display: flex;
  width: 100%;
  border-bottom: solid 2px rgba(91, 82, 95, 0.1);
  margin-bottom: 14px;
}
.yc-ci-left {
  margin-right: 14px;
}
.yc-ci-r-t-left > h1 {
  font-size: 16px;
  font-weight: 400;
}
.yc-ci-r-t-left > h2 {
  font-size: 12px;
  font-weight: 400;
  text-align: start;
}
.yc-ci-r-t-right {
  height: 28px;
  border: none;
  background: none;
  cursor: pointer;
}
.yc-ci-l-image {
  width: 72px;
}
.yc-ci-right {
  width: 100%;
  margin-bottom: 14px;
}

.yc-ci-r-top,
.yc-ci-r-bottom {
  display: flex;
  justify-content: space-between;
}
.yc-ci-r-top {
  margin-bottom: 28px;
}

.yc-ci-r-b-left {
  font-size: 12px;
  font-weight: 500;
}
.yc-ci-r-b-right {
  display: flex;
  border: 1px #5b525f solid;
}
.yc-ci-r-b-r-number {
  margin: 0 4px;
}
.yc-ci-r-b-r-minus,
.yc-ci-r-b-r-plus {
  border: none;
  background: none;
  cursor: pointer;
}
.yc-ci-r-b-r-minus:hover,
.yc-ci-r-b-r-plus:hover {
  background-color: #efeeef;
}

.yc-bottom {
  padding: 14px;
}
.yc-b-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.yc-b-top-checkout > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.yc-b-bottom {
  width: 100%;
  height: 48px;
  border: none;
  background: #5b525f;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.yc-b-t-right-promo {
  color: green;
}
