.myAccount {
  max-width: 1440px;
  padding: 14px;
}
.MAContainer {
  display: flex;
}
.MAContainer-left {
  margin-top: 48px;
  height: fit-content;
  border: solid black 1px;
}
.MAContainer-right {
  margin-top: 48px;
  /* background-color: #efeeef; */
}

.MAContainer-left > div {
  padding: 8px;
}
.ma-link {
}
.ma-link-select {
  background: #5b525f;
  color: white;
}
.m-a-title {
  font-weight: 500;
}
/* .myAccount > div:not(:nth-child(2n)) {
  max-width: 1200px;
  padding: 14px;

  margin: auto;
  display: flex;
  flex-direction: column;
} */

/* .myCredentials, */
.myAccountContainer {
  /* max-width: 1200px;
  padding: 14px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14px; */
}
/* .myAccountContainer > div, */
.myPaymentContainer > div {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

.mc-title,
.my-title,
.mp-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 28px;
  width: fit-content;
  align-self: flex-start;
}

.myInfo {
  width: 100%;
  margin: auto;
  height: 100%;
}
.myInfoEmpty {
  width: 40%;
  height: 20px;
}
.m-i-title {
  /* margin-top: 32px; */
  font-weight: 500;
  font-size: 18px;

  margin-bottom: 28px;

  width: 100%;
}
.m-i-name {
  width: fit-content;
  height: 28px;
  background: none;
  margin-bottom: 8px 0;
  border: 1px solid rgba(255, 255, 255, 1);
  padding-left: 1px;
  padding-top: 6px;
}
.m-i-name-edit {
  border-bottom: 1px solid black;
  font-size: 16px;
}
.m-i-email {
  width: fit-content;
  height: 28px;
  background: none;
  margin: 8px 0;
  border: 1px solid rgba(255, 255, 255, 1);
  padding-left: 1px;
  padding-top: 6px;
}
.m-i-email-edit {
  border-bottom: 1px solid black;
  font-size: 16px;
}

.m-i-button,
.mp-gift-button,
.mp-cc-d-button {
  width: fit-content;
  height: 24px;
  background: none;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  margin: 14px 0;
  margin-right: 14px;
}
.m-i-button:hover,
.mp-gift-button:hover,
.mp-cc-d-button:hover {
  background-color: #5b525f;
  color: white;
}

/*! CONTACT INFO */
.myInfo-container {
  width: 30%;
}
.myCredentials,
.myPaymentContainer,
.myAccountContainer {
  width: 1200px;
  padding: 14px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.myContact {
  width: 30%;
}
.myContact > label,
.myContact > input {
  width: 100%;
  margin-bottom: 8px;
}
.myContact > input,
.myAddress > input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  height: 36px;
  margin-bottom: 14px;
}

.myContact > input:focus,
.myAddress > input:focus {
  outline: none;
  background-color: #efeeef;
}
.mc-button {
  width: 100%;
  height: 36px;
  background: none;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}
.mc-button:hover,
.ma-button:hover {
  background-color: #efeeef;
}
.mc-success {
  color: green;
  margin-bottom: 14px;
  height: 19px;
}

/*! ADDRESS INFO */
.myAddress {
  width: 40%;
}
.myAddressCart {
  width: 80%;
}
.myAddress > label {
  width: 80%;
  margin-bottom: 8px;
}
.myAddress > input,
.myAddress > select {
  width: 100%;
  margin-bottom: 14px;
}
.myAddress > select {
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  height: 36px;
}
.ma-button {
  width: 100%;
  height: 36px;
  background: none;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

/*! Card INFO */
.myPayment {
  width: 70%;
}
.mp-balance {
  font-size: 18px;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 8px;
}
.mp-alert {
  text-align: start;
  margin: 4px 0;
  height: 18px;
}
.mp-success {
  color: green;
}

#mp-gift {
  width: 100%;
  margin-bottom: 14px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  height: 36px;
  margin-bottom: 14px;
}
#mp-gift:focus {
  outline: none;
  background-color: #efeeef;
}
.mp-cc-logo {
  /* background-color: #efeeef; */
  background-color: #ada9af;
  width: 400px;
  height: 220px;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mp-cc-l-pic {
  height: 70%;
  width: 70%;
}
.mp-cc-l-title {
  width: 100%;
  text-align: end;
  font-size: 24px;
  color: white;
  font-weight: 500;
}
.mp-cc-edit {
  background-color: #ada9af;
  width: 400px;
  height: 220px;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.mp-cc-e-pic {
  justify-self: start;
  width: 100%;
}
.mp-cc-e-pic > img {
  height: 90%;
}
